mixin classified(classified)
	.col-sm-4
		article(role="article", itemscope itemtype="https://schema.org/BlogPosting").post-card
			if classified.image.exists
				a(href='/classifieds/classified/' + classified.slug).post-image: img(src=classified._.image.thumbnail(600,320), alt=classified.title).img-responsive
			.post-summary
				.post-byline
					.post-author: a(href='/member/'+ classified.author.key, rel='author')=classified.author.name.full
					.date-stamp: em=moment(classified.publishedDate).fromNow()

				h4(itemprop='name').post-title.mv-1
					a(href='/classifieds/classified/' + classified.slug, itemprop='url')=classified.title
				.post-content-brief(itemprop='description')!= classified.content.brief