extends ../../../layouts/default

block content
	.container-sm
		a(href='/classifieds').text-muted &larr; Back to Classifieds
		article.full-post
			if !classified
				h2 Invalid Classified.
			else
				header
					if classified.state != 'published' && user.isAdmin
						.mt-1: .alert.alert-danger This Classified has not been published yet. 
							a(href='/keystone/classifieds/' + classified.id).alert-link Open Keystone
							|  to publish it.
					
					h1.blog-post__title= classified.title
					p.blog-post__byline Posted
						if classified.author
							|  by #{classified.author.name.full}
						if classified.publishedDate
							|  on #{classified._.publishedDate.format('MMMM D, YYYY')}
					//- sharing buttons
					.share-buttons
						span.share-button
							.fb-like(data-href="http://www.sydjs.com/blog/post/" + classified.slug, data-colorscheme="light", data-layout="button_count", data-action="like", data-show-faces="false", data-send="false")
						span.share-button
							a(href="https://twitter.com/share", data-via="Babylon", data-hashtags="babylon", data-count="button", data-dnt="true").twitter-share-button Tweet
						span.share-button
							.g-plusone(data-size="medium")
				if classified.image.exists
					.post-image.mv-3: img(src=classified._.image.fit(720,420)).img-responsive.img-thumbnail
				!= classified.content.full

				//- Comment
				.comments
						h4.mb-1=classified.comments.length == 0 ? 'Be the first to reply' : plural(classified.comments.length, '* comment', '* comments')
						for comment in classified.comments
							if comment.author
								.comment.media
									.pull-left
										img(src=comment.author.photo.exists ? comment.author._.photo.thumbnail(60,60) : '/images/placeholders/user-60x60.jpg', alt=comment.author.name.full, width=40, height=40).media-object.img-circle
									.media-body
										h6.mt-0
											=comment.author.name.full
											span.text-muted  &middot; #{moment(comment.publishedOn).fromNow()}
										!=comment.content.html
				if user
						//- Reply form
						form(method='post').comment-form.mt-5
							input(type='hidden', name='action', value='create-comment')
							.media
								.pull-left
									img(src=user.photo.exists ? user._.photo.thumbnail(60,60) : '/images/placeholders/user-60x60.jpg', alt=user.name.full, width=40, height=40).img-responsive.img-circle
								.media-body
									textarea(placeholder='Add your comment...', name='content').form-control
									.mv-1
										button(type='submit').btn.btn-success Submit
block js
	script(src='/js/common/share.js')
	script(src="https://apis.google.com/js/plusone.js")
