extends ../../../layouts/default

block content
	.container-sm
		a(href='/news').text-muted &larr; Atrás
		article.full-post
			if !post
				h2 Publicación inválida.
			else
				header
					if post.state != 'published' && user.isAdmin
						.mt-1: .alert.alert-danger Este post no ha sido publicado aún. 
							a(href='/keystone/posts/' + post.id).alert-link Abre Keystone
							|  para publicarlo.
					
					h1.blog-post__title= post.title
					p.blog-post__byline Publicado
						if post.author
							|  by #{post.author.name.full}
						if post.publishedDate
							|  on #{post._.publishedDate.format('MMMM D, YYYY')}
						if post.tags && post.tags.length
							|  in&nbsp;
							each cat, cat_i in post.tags
								a(href='/news/' + cat.key)= cat.name
								if cat_i < post.tags.length - 1
									| ,&nbsp;
								else
									|&nbsp;
					//- Image
					if post.image.exists
						.post-image.mv-3: img(src=post._.image.fit(720,420)).img-responsive.img-thumbnail
					//- Post content
					!= post.content.full

					//- sharing buttons
					.share-buttons
						span.share-button
							.fb-like(data-href="https://www.sydjs.com/blog/post/" + post.slug, data-colorscheme="light", data-layout="button_count", data-action="like", data-show-faces="false", data-send="false")
						span.share-button
							a(href="https://twitter.com/share", data-via="Babylon", data-hashtags="babylon", data-count="button", data-dnt="true").twitter-share-button Tweet
						span.share-button
							.g-plusone(data-size="medium")
					//- delete & update post
					if  user && user.id == post.author.id
						a(href='?remove=post&post=' + post.id, title='Delete this Post', rel='tooltip', data-placement='left') Eliminar
						a(href='', class='modify', value='Modify', id=post.id)  Editar
						form(method='post', enctype='multipart/form-data', class="update-post" style="display: none" id="form"+post.id).form-horizontal.create-form.profile-form
							input(type='hidden', name='action', value='update-post')
							input(type='hidden', name='post', value=post.id)
							.row: .col-sm-8.col-sm-offset-2
								//- Title
								.form-group
									h1 Editar
									input(type='text', id='post-title', name='title', placeholder='Post title' value=post.title).input.input-xl.input-faded
								//- Tag
								if tags && tags.length
									.form.group
										label Tag
										select(name='tag')
											each tag in tags
												option(value=tag.id) 
													= tag.name
								else
									p Lo sentimos, las etiquetas no se pueden cargar.
										
								//- Image
								.form-group
									label Cargar imagen
									input(type='file', name='image_upload')
								
								//- Content
								.form-group
									label Contenido
									textarea(name='content.extended', class='wysiwyg').input.input-faded
										=post.content.full

											
								//- Submit
								.form-group
									button(type='submit', data-loading-text="Changing...").btn.btn-lg.btn-primary.btn-block Guardar Cambios

				//- Comment
				.comments
						h4.mb-1=post.comments.length == 0 ? 'Be the first to reply' : plural(post.comments.length, '* comment', '* comments')
						for comment in post.comments
							if comment.author
								.comment.media
									.pull-left
										img(src=comment.author.photo.exists ? comment.author._.photo.thumbnail(60,60) : '/images/placeholders/user-60x60.jpg', alt=comment.author.name.full, width=40, height=40).media-object.img-circle
									.media-body
										h6.mt-0
											=comment.author.name.full
											span.text-muted  &middot; #{moment(comment.date).fromNow()}
										!=comment.content.html
				if user
						//- Reply form
						form(method='post').comment-form.mt-5
							input(type='hidden', name='action', value='create-comment')
							.media
								.pull-left
									img(src=user.photo.exists ? user._.photo.thumbnail(60,60) : '/images/placeholders/user-60x60.jpg', alt=user.name.full, width=40, height=40).img-responsive.img-circle
								.media-body
									textarea(placeholder='Add your comment...', name='content').form-control
									.mv-1
										button(type='submit').btn.btn-success Publicar
block js
	script(src='/js/common/share.js')
	script(src="https://apis.google.com/js/plusone.js")
