include ../../mixins/post

if locals.section !== 'news'
	.news-panel
		a(href='/news').text-muted Latest News
		if lastPosts && lastPosts.length
			each post in lastPosts
					//-h5(itemprop='name').post-title.mv-1
						a(href='/news/post/' + post.slug, itemprop='url')=post.title
					article(role="article", itemscope itemtype="https://schema.org/BlogPosting").post-card
						a(href='/news/post/' + post.slug)
							.post-container-image
								if post.image.exists
									.post-image: img(src=post._.image.thumbnail(600,320), alt=post.title).img-responsive
									.post-content-brief!= post.content.brief
						.post-summary
							.post-byline
								if post.author
									.post-author: a(href='/member/'+ post.author.key, rel='author')=post.author.name.full
								else
									.post-author: p() Unknown
								.date-stamp: em=moment(post.publishedDate).fromNow()
							h6(itemprop='name').post-title.mv-1
								a(href='/news/post/' + post.slug, itemprop='url')=post.title
		else
			p.
				No recent posts
