.news-panel
	if locals.section !== 'home'
		.listen-section
			button.btn-listen(onclick="window.open('/radioplayer', 'RadioPlayer', 'left=20,top=20,width=450,height=650,toolbar=1,resizable=0'); return false;") Listen now
			
	.facebook-widget
		iframe(src='https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fbabylon.webradio%2F&tabs&width=300&height=220&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId', width='300', height='220', style='border:none;overflow:hidden', scrolling='no', frameborder='0', allowtransparency='true')
	if popularPosts && popularPosts.length
		h4.populartitle
			= "Most popular"
		ul.wpp-list.wpp-list-with-thumbnails
			li
				if popularPosts.length >= 1
					a(href='/news/post/' + popularPosts[0].slug, title=popularPosts[0].title, target='_self')
						img.wpp-thumbnail.wpp_featured_stock.wp-post-image.no-display.appear(width='110', height='96', src=popularPosts[0].image.url, alt='')
					a.wpp-post-title(href='/news/post/' + popularPosts[0].slug, title=popularPosts[0].title, target='_self') 
						= popularPosts[0].title
					|  
					span.wpp-excerpt
						!= popularPosts[0].content.full
					|  
					span.wpp-meta.post-stats
						span.wpp-author
							| by 
							a(href='/member/'+ popularPosts[0].author.key, rel='author') 
								=popularPosts[0].author.name.full
			if popularPosts.length >= 3
				li
					if popularPosts.length >= 2
						a(href='/news/post/' + popularPosts[1].slug, title=popularPosts[1].title, target='_self')
							img.wpp-thumbnail.wpp_featured_stock.wp-post-image.no-display.appear(width='110', height='96', src=popularPosts[1].image.url, alt='')
						a.wpp-post-title(href='/news/post/' + popularPosts[1].slug, title=popularPosts[1].title, target='_self')
							= popularPosts[1].title
						|  
						span.wpp-excerpt
							!= popularPosts[1].content.full
						|  
						span.wpp-meta.post-stats
							span.wpp-author
								| by 
								a(href='/member/'+ popularPosts[1].author.key)
									=popularPosts[1].author.name.full
			if popularPosts.length >= 3
				li
					a(href='/news/post/' + popularPosts[2].slug, title=popularPosts[2].title, target='_self')
						img.wpp-thumbnail.wpp_featured_stock.wp-post-image.no-display.appear(width='110', height='96', src=popularPosts[2].image.url, alt='')
					a.wpp-post-title(href='/news/post/' + popularPosts[2].slug, title=popularPosts[1].title, target='_self')
						= popularPosts[2].title
					|  
					span.wpp-excerpt
						!= popularPosts[2].content.full
					|  
					span.wpp-meta.post-stats
						span.wpp-author
							| by 
							a(href='/member/'+ popularPosts[2].author.key)
								=popularPosts[1].author.name.full
	.youtube-video
		iframe.noPaddingMargin(width='100%', height='100%', src='https://www.youtube.com/embed/L9aTVHsAs0k', frameborder='0', allowfullscreen='')